.colum1 {
    position: relative;
    max-width: 55%;
    min-width: 45%;
    flex-direction: column;
    display: flex;

    border-radius: 16px;
    background: rgba(0, 0, 0, 0.35);



}


.colum2 {
    display: flex;
    padding: 20px;

    border-radius: 16px;
    background: rgba(0, 0, 0, 0.35);
    width: 30%;
    min-width: 30%;
    padding: 20px;
    margin-bottom: 2rem;

    flex-direction: column;

    align-items: center;
}


.styInd {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    background: rgba(200, 188, 188, 0.46);

    margin-bottom: 20px;
    margin-top: 20px;
}

.sty² {

    margin-right: 45px;
    display: flex;
    flex-flow: column;

    background: rgba(200, 188, 188, 0.46);
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.conteudo {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imgind {
    width: 100%;

}

.imgcol2 {
    width: 10rem;

}

.textind {
    color: white;
}

.styInd:hover {
    border: 1px solid #ffff;
    border-radius: 16px;
    transition-duration: 1s;
    transition-delay: 0 6s;
}

.sty²:hover {
    border: 1px solid #ffff;
    border-radius: 16px;
    transition-duration: 1s;
    transition-delay: 0 6s;
}

div.container {
    width: 90%;
    margin: auto;
}

.principal {
    border: 1px solid white;
    display: grid;
    display: inline-block;


    background: rgba(200, 188, 188, 0.46);

    grid-template-columns: 50% 50%;

    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.imgPrincipal {

    width: 35rem;
}

.textocat {
    font-size: 1 6rem;

}

.moreinfo {
    background: rgba(200, 188, 188, 0.46);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0 5rem;
    padding-bottom: 0 5rem;

}

.conteudo1 {
    margin-top: 100px;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    max-width: 70%;
    padding: 60px;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 40px;
}

.btncad {
    background: rgba(0, 0, 0, 0.35);
    border: none !important;
    border-radius: 5px;
    padding: 1rem;
}

.center {

    display: flex;
    justify-content: center;
}

.btncad:hover {
    background-color: white;
}

h3 {
    margin-left: 30px;
}

.secat {
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.35);
    display: inline-block;
    border-radius: 20px;
}

select {
    padding: 20px;
    font-size: 22px;
    margin-bottom: 30px;
    width: 450px;
    background: rgba(94, 93, 93, 0.527);
    display: inline-block;
    margin-right: 23rem;
    color: white;
}

.busca {
    text-align: right;
    display: inline-block;
}

.division {
    border-bottom: 1px solid white;

    text-align: center;
}

.centro {
    text-align: center;

}

.textind1 {
    width: 100%;
    text-align: center;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2rem;

}

.textind {
    width: 100%;
    text-align: center;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2rem;

}

.imagepop {
    width: 100%;

}

.textpop {

    text-align: center;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2rem;
}

.pagina {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 60px;
}

.centro {
    text-align: center;
}

.next {
    margin: 20px;
    border-radius: 16px;
    border: none;
    color: white;
    background: rgba(53, 16, 16, 0.29);
    padding: 20px;
    margin-right: 60px;
}

.over {
    margin: 20px;
    border-radius: 16px;
    border: none;
    color: white;
    background: rgba(53, 16, 16, 0.29);
    padding: 20px;
}

.colbtn {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.dropbtn1 {
    background: rgba(49, 22, 22, 0.35);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.dropdown1 {
    z-index: 2;
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    z-index: 2;
    display: none;
    position: absolute;
    background-color: #350505b7 min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content1 a {
    z-index: 2;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {
    background-color: #630d0dc0
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.dropdown1:hover .dropbtn1 {
    background-color: #d3383865
}



@media only screen and (max-width: 500px) {


    .textind1 {
        display: none;
    }

    .colum1 {
        width: 100%;
        position: relative;

        margin-right: 60px;
    }

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        z-index: 2;
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }

    #toggle:checked+.menu {
        display: block;

    }

    .dropdown {
        z-index: 2;
        display: none;
    }

    .mobile {
        display: none;
    }

    .conteudo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .colum2 {
        margin-top: 20px;
        min-width: 40%;
        width: 60%;
        background: rgba(53, 16, 16, 0.233);
    }

    .dropdown-content {
        z-index: 2;
        position: absolute;
    }

    .colbtn {
        margin-top: 30px;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-start;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {
    .imgind2 {
        width: 100%;
    }

    .infoani {
        display: flex;
        flex-wrap: wrap;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
    }

    input {

        width: 100%;
    }

    .form {
        align-items: center;

        width: 100%;
    }

    .colum1 {
        min-width: 62%;
        position: relative;

    }

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: absolute;

        background: #AD2E4D;
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }

    #toggle {
        position: absolute;

    }

    #toggle:checked+.menu {
        display: block;

    }

    .dropdown {
        z-index: 2;
        display: none;
    }

    .mobile {
        display: none;
    }

    .conteudo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .colum2 {
        width: 100%;
        min-width: 60%;
        background: rgba(53, 16, 16, 0.29);
    }

    .dropdown-content {
        background-color: rgba(53, 16, 16, 0.29);
        z-index: 2;
        position: absolute;
    }

    .styind {
        text-align: center;
        min-width: 255px;
        display: flex;
        align-items: center
    }

    .textind {
        align-items: center;
    }

    .sty² {
        text-align: center;
        min-width: 255px;
        display: flex;
        align-items: center;
        width: 250px;
    }

    .nav {
        align-items: center;
    }
}