body {
    background: #AD2E4D;
}

.title {
    color: white;
    font-family: 'Rochester', cursive;
}

h1 {
    text-align: center;
    margin-bottom: 0 6rem;
}

.title² {
    color: #440303;

}

.nav {
    background: rgba(49, 22, 22, 0.35);
    border-bottom: 1px solid #EAEAEB;
    text-align: center;
    height: 70px;
    line-height: 70px;
    margin-bottom: 2rem;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 2rem;
    line-height: 70px;
}

span {
    color: black;
    ;

}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

span:hover {
    color: #ffff;
}

a:hover {
    background: rgba(0, 0, 0, 0.35);
    color: white;
    transition-duration: 1s;
    transition-delay: 0 8s;
    padding: 1rem;
}

.dropbtn {
    margin-left: none;
    margin-right: 60px;
    flex-wrap: wrap;
    display: flex;
    background: rgba(0, 0, 0, 0.35);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    margin-top: 10px;
}

.dropdown-content {
    border-radius: 16px;
    display: none;
    position: absolute;
    right: 0;
    background: rgba(221, 221, 221, 0.29);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {

    background: rgba(221, 221, 221, 0.29);
    border-radius: 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {

    background: rgba(2, 2, 2, 0.29);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .coluna-esquerda,.coluna-direita{
        width: 100%;
    }

 .coluna {
     grid-template-columns: 100%;
     
 }
    .imgind2{
        width: 100%;
    }
    .infoani{
        display: flex;
        flex-wrap: wrap;
    }
    .info{
        display:flex;
        flex-wrap: wrap;
    }
    input{
      
        width: 100%;
    }

    .form{
       align-items: center;
        
        width: 100%;
    }
   
    .colum1 {
        display: flex;
        
        max-width:100%;
        width:100%;
        position: relative;
        
    }
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: absolute;
       
        background: #AD2E4D;
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }
    #toggle {
        position: absolute;
        
    }

    #toggle:checked+.menu {
        display: block;
        
    }

    .dropdown {
       
        display: none;
    }

    .mobile {
        display: none;
    }

    .conteudo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .colum2 {
        width: 100%;
        min-width: 60%;
        background: rgba(53, 16, 16, 0.29);
    }
    .dropdown-content{
        background-color: rgba(53, 16, 16, 0.29); ;
       
        position: absolute;
    }
    .styind {
        display: flex;
        margin-right: 40px;
        align-items:center;
        min-width: 255px;
        display: flex;
        align-items: center
    }
    .textind{
        align-items:center;
    }
    .sty²{
        text-align:center;
        min-width: 255px;
        display: flex;
        align-items: center;
        width: 250px;
    }
    .nav {
    align-items: center;
    }
}
@media only screen and (max-width: 800px) {
    .imgind2{
        width: 100%;
    }
    .infoani{
        display: flex;
        flex-wrap: wrap;
    }
    .info{
        display:flex;
        flex-wrap: wrap;
    }
    input{
      
        width: 100%;
    }

    .form{
       align-items: center;
        
        width: 100%;
    }
   
    .colum1 {
        max-width: 100%;
        width: 100%;
        min-width: 62%;
        position: relative;
      
    }
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: absolute;
       
        background: #AD2E4D;
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }
    #toggle {
        position: absolute;
       
    }

    #toggle:checked+.menu {
        display: block;
        
    }

    .dropdown {
       
        display: none;
    }

    .mobile {
        display: none;
    }

    .conteudo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .colum2 {
        width: 90%;
        min-width: 60%;
        background: rgba(53, 16, 16, 0.29);
    }
    .dropdown-content{
        background-color: rgba(53, 16, 16, 0.29); ;
       
        position: absolute;
    }
    .styind {
        text-align:center;
        min-width: 255px;
        display: flex;
        align-items: center
    }
    .textind{
        align-items:center;
    }
    .sty²{
        text-align:center;
        min-width: 255px;
        display: flex;
        align-items: center;
        width: 250px;
    }
    .nav {
    align-items: center;
    }
}


