.centro {
    text-align: center;

}
.styManga{
    
    width: 55%;
    background-color: rgba(255, 255, 255, 0.61) !important;
    margin: 20px;

}
.columManga{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto !important;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.35);
    width: 60%;
    min-width: 305px;
    padding: 20px;
    margin-bottom: 2rem;
    border-bottom: 1px solid white !important;
}
.imgind{
    width: 100%;
}

select {
    margin: 2rem;
    display: flex;
    align-items: left;
}

input {
    margin: 2rem;
    display: flex;
    align-items: left;
}

button {
    padding: 10px
}

.inputPesquisa {

    padding-left: 23px;
    padding-top: 5px;

    background-image: url(16492.png);
    background-size: 20px;
    background-repeat: no-repeat;
}

.animelist {
    display: flex;

    justify-content: space-between;
    grid-template-columns: auto auto;
    display: inline;
}

.gridimg {
    width: 180px;
    display: inline;
}

.gridtext {
    color: white;
    display: inline;

}

.colorfundo {
    margin: 6px;
    margin-top: 4px;
    background-color: rgba(255, 255, 255, 0.61) !important;
    display: inline-block;

}

a {
    color: white
}
@media only screen and (max-width: 800px) {
    .imgind2{
        width: 100%;
    }
    .infoani{
        display: flex;
        flex-wrap: wrap;
    }
    .info{
        display:flex;
        flex-wrap: wrap;
    }
    input{
      
        width: 100%;
    }

    .form{
       align-items: center;
        
        width: 100%;
    }
   
    .colum1 {
        min-width: 62%;
        position: relative;
        z-index: -1;
    }
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        position: absolute;
        z-index: 1;
        background: #AD2E4D;
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }
    #toggle {
        position: absolute;
        z-index: 2;
    }

    #toggle:checked+.menu {
        display: block;
        
    }

    .dropdown {
        z-index: 1;
        display: none;
    }

    .mobile {
        display: block;
    }

    .conteudo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .colum2 {
        width: 100%;
        min-width: 60%;
        background: rgba(53, 16, 16, 0.29);
    }
    .dropdown-content{
        background-color: rgba(53, 16, 16, 0.29); ;
        z-index: 1;
        position: absolute;
    }
    .styind {
        text-align:center;
        min-width: 255px;
        display: flex;
        align-items: center
    }
    .textind{
        align-items:center;
    }
    .sty²{
        text-align:center;
        min-width: 255px;
        display: flex;
        align-items: center;
        width: 250px;
    }
    .nav {
    align-items: center;
    }
}


